# API Configuration
VITE_API_URL=http://localhost:8000

# Kinde Authentication
VITE_KINDE_DOMAIN=fantasysnipe.kinde.com
VITE_KINDE_CLIENT_ID=9c71034f7d8a44c082d6f19617558468
VITE_KINDE_REDIRECT_URI=http://localhost:3000/callback
VITE_KINDE_LOGOUT_REDIRECT_URI=http://localhost:3000 