pandas
requests
beautifulsoup4
scikit-learn
xgboost
fastapi
uvicorn
gunicorn
cloud-sql-python-connector[pg8000]
sqlalchemy
psycopg2-binary
psycopg[binary]
python-dotenv
certifi
google-cloud-secret-manager
google-cloud-bigquery
nhl-api-py
kinde-python-sdk
python-jose[cryptography]
feedparser